{% extends "base.html" %}
{% block content %}
  <div class="row marketing">
      <div class="col-lg-12">
          {% for item in snippets %}
              <h4><a href="/snippet/{{ item.slug }}/">{{ item.title }}</a></h4>
              <p>{{ item.description }}</p>
          {% else %}
              <h4>Nothing here</h4>
          {% endfor %}
    </div>
  </div>
{% endblock %}