<!-- Modal -->
<div class="modal fade" id="createSnippet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New snippet creation</h4>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
          <form action="/create/" method="POST" class="form-horizontal">
            <!-- Text input-->
            <div class="form-group">
              <label class="control-label" for="textinput">Title</label>
              <input id="textinput" name="title" type="text" placeholder="Enter snippet title" class="form-control">
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <textarea class="form-control" rows="10" name="snippet"></textarea>
            </div>

          </form>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="$('form').submit();">Create</button>
      </div>
    </div>
  </div>
</div>